block scripts
	script(type="text/javascript" src="libs/angular/angular.js")
	script(type="text/javascript" src="libs/angular-route/angular-route.min.js")
	script(type="text/javascript" src="js/home/directives/topNav.js")
	script(type="text/javascript" src="js/home/controllers/homeController.js")
	script(type="text/javascript" src="js/home/homeRouter.js")
	script(type="text/javascript" src="js/home/home.js")